header img{
    width: 300px;
    height: 80px;
}
header .fa-facebook{
    color:#3b5998;
    
}
header .fa-brands{
    font-size: 40px;
}
#banner img{
    width: 100%;
    height: 500px;
}
#banner  h1{
    font-size: 50px;
    text-shadow: 0 0 10px black;
    
}
#banner  p{
    font-size: 20px;
    letter-spacing: 10px;
    text-shadow: 0 0 10px black;
}

#banner  span{
    color:aqua
}
.carousel-caption {
    top:140px
}
#new img{
    width: 200px;
    height: 200px;
    
}
#new .ps{
    top:0;
    right:0
}
#offer .icon{
    width: 100px;
    height: 70px;
    background: black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-right:15px;

}
#offer h3{
    color:aqua;
    margin-bottom: 5px;
}